<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../static/media/favicon.ico">
        <title>Onicorp Official Site</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/styles.css">
        {% load i18n %}
        {% load static %}
        <script src="/static/js/language.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </head>
    <body>
    
        <!-- Header Section -->
        <nav class="navbar navbar-expand-lg bg-light">  
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <a class="navbar-brand" href="#"><img src="../static/media/logo.png" alt="Onicorp" style="max-width: 40%; height: auto; text-align: center;"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav" style="justify-content: flex-end; font-size: 24px;">
                    <div class="navbar-nav ml-auto text-center">
                        <div class=""><a class="nav-link nav-item" href="#products">{% trans "products" %}</a></div>
                        <a class="nav-link nav-item" href="#price">{% trans "price" %}</a>
                        <a class="nav-link nav-item" href="#about">{% trans "about" %}</a>
                        <a class="nav-link nav-item" href="#contacts">{% trans "contacts" %}</a>
                        
                        <div class="nav-link">
                            <a class="nav-item " style="text-decoration: none; color: gray;" href="#" onclick="changeLanguage('en')">en</a>
                            <span class="nav-item" style="padding: 0px; color: gray;"> | </span>
                            <a class="nav-item"  style="text-decoration: none; color: gray;" href="#" onclick="changeLanguage('ru')">ru</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    
        <!-- Second Logo Section -->
        <section id="big_logo" class="container_full second-logo text-center my-5">
            <div class="container d-flex justify-content-center">
                <img src="../static/media/big_shot_logo.png" alt="Onicorp" style="max-width: 130%; height: auto;">
            </div>
        </section>
    
        <!-- Products Section -->
        <section id="products" class="products  my-5">
            <div class="container text-center ">
                <h2>{% trans "products" %}</h2>
                <span class="d-inline-block" style="max-width: 650px; font-size: 20px;">
                    {% trans "The Order Manager service generates order files from original images according to the provided list of articles." %}
                </span>
                <div id="carouselExampleDark" class="carousel carousel-dark slide  my-4" data-bs-ride="carousel" data-bs-interval="3000">
                    <div class="carousel-inner">
                        {% if request.LANGUAGE_CODE == 'en' %}
                            <div class="carousel-item active" data-bs-interval="1000">
                                <img src="../static/media/1_slide_eng.png" class="d-block mx-auto" alt="slide" style="max-width: 70%; height: auto;">
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="../static/media/2_slide_eng.png" class="d-block mx-auto" alt="slide" style="max-width: 70%; height: auto;">
                            </div>
                            <div class="carousel-item">
                                <img src="../static/media/3_slide_eng.png" class="d-block mx-auto" alt="slide" style="max-width: 70%; height: auto;">
                            </div>
                        {% else %}
                            <div class="carousel-item active" data-bs-interval="1000">
                                <img src="../static/media/1_slide_ru.png" class="d-block mx-auto" alt="slide" style="max-width: 70%; height: auto;">
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="../static/media/2_slide_ru.png" class="d-block mx-auto" alt="slide" style="max-width: 70%; height: auto;">
                            </div>
                            <div class="carousel-item">
                                <img src="../static/media/3_slide_ru.png" class="d-block mx-auto" alt="slide" style="max-width: 70%; height: auto;">
                            </div>
                        {% endif %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </section>
        
        <!-- Price Section -->
        <section id="price" class="price my-5 ">
            <div class="container text-center ">
                <h2>{% trans "price" %}</h2>
                <span class="d-inline-block" style="max-width: 650px; font-size: 20px;">
                    {% trans "Buy a subscription to Order Manager at current prices." %}
                </span>
                <div class="row my-3">
                    {% for product in products %}
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="card mx-auto my-1" style="width: 14rem;">
                            <div class="card-body">
                                <span class="license-term" style="font-size: 30px; font-weight: bold">{% trans product.license_term %}</span>
                                <br>
                                <br>
                                <span class="text-strike" style="font-size: 40px;">{{product.old_price}}</span>
                                <br>
                                <span class="product-price" style="font-size: 50px; font-weight: bold">{{product.price}}</span>
                                <br>
                                <span>{{product.currency_type}}</span>
                                <br>
                                <br>
                                <button class="btn btn-warning" style="font-weight: bold">{% trans "buy" %}</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    
        <!-- About Section -->
        <section id="about" class="about my-5">
            <div class="container text-center">
                <h2>{% trans "about" %}</h2>
                <!-- Inline level -->
                    <span class="d-inline-block" style="max-width: 650px; font-size: 20px;">
                        {% trans "Our company is a highly professional team of software product developers ready to provide you with innovative solutions. We specialize in custom development for clients from around the world, delivering individual and high-quality products. Our experience and expertise enable us to bring the most ambitious projects to life. We take pride in our ability to work as a team and achieve success even in challenging tasks." %}
                    </span>
            </div>
        </section>

        <!-- Contacts Section -->
        <section id="contacts" class="contacts my-5">
            <div class="container text-center">
                <h2>{% trans "contacts" %}</h2>
                <!-- Inline level -->
                    <span class="d-inline-block" style="max-width: 650px; font-size: 20px;">
                        e-mail: onicorp.tech@gmail.com
                    </span>
            </div>
        </section>
        
        <!-- Footer Section -->
        <section id="footer" class="footer my-5">
            <div class="container text-center border-line" style = "top: 0; left: 0; width: 70%; height: 2px; background-color: black; z-index: 9999;">
                <br>
                <div class="container d-flex justify-content-between" style = "font-size: 20px;">
                    <div >
                        onicorp.tech@gmail.com
                    </div>
                    <div>
                        onicorp<sup>©</sup>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
