{% load static %}
{% load i18n %}
<!DOCTYPE html>
<!-- Payment Section  -->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Купить продукт</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'js/bootstrap.min.js.map' %}"> {% endcomment %}
    <style>
        /* Стили для отключенных (заблокированных) полей ввода */
        input[readonly] {
            background-color: #f4f4f4; /* Цвет фона для заблокированных полей */
            color: #999; /* Цвет текста для заблокированных полей */
            cursor: not-allowed; /* Курсор, указывающий на то, что поле недоступно */
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="title" id="buy-modal-label">{% trans 'Buy the product' %}</h5>
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'payment' %}">
                            {% csrf_token %}
    
                            {% for field in form %}
                                <div class="form-group row">
                                    <label for="id_{{ field.name }}" class="col-sm-4 col-form-label text-md-right">{% trans field.label %}</label>
                                    <div class="col-sm-8">
                                        {% if field.field.widget.attrs.type == 'hidden' %}
                                            {{ field }}
                                        {% else %}
                                            {% if field.field.widget.attrs.type == 'select' %}
                                                {{ field }}
                                            {% else %}
                                                {% if field.field.widget.attrs.readonly %}
                                                    {{ field }}
                                                {% else %}
                                                    {{ field }}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
    
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
                                <button type="button" class="btn btn-secondary" onclick="window.location.href = '{% url 'index' %}'">{% trans 'Close' %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
<script>
    window.onload = function() {
        // Извлекаем параметры URL
        var urlParams = new URLSearchParams(window.location.search);
        var productId = urlParams.get('productId');
        var productName = urlParams.get('productName');
        var licenseTerm = urlParams.get('licenseTerm');
        var categoryName = urlParams.get('categoryName');
        var productPrice = urlParams.get('productPrice');
        var currencyType = urlParams.get('currencyType');
    
        // Автоматически заполняем форму
        document.getElementById('id_product_name').value = productName;
        document.getElementById('id_license_term').value = licenseTerm;

        // Выбираем соответствующий вариант в выпадающем списке categoryName
        var categoryDropdown = document.getElementById('id_category_name');
        var categoryOptions = categoryDropdown.options;
        for (var i = 0; i < categoryOptions.length; i++) {
            if (categoryOptions[i].text === categoryName) {
                categoryOptions[i].selected = true;
                break;
            }
        }

        document.getElementById('id_product_price').value = productPrice;
        document.getElementById('id_currency_type').value = currencyType;
        
        // Блокируем заполненные поля
        document.getElementById('id_product_name').readOnly = true;
        document.getElementById('id_license_term').readOnly = true;
        document.getElementById('id_product_price').readOnly = true;
        document.getElementById('id_currency_type').readOnly = true;
    }
</script>
</body>
</html>
