
/* Подключение шрифта Manrope Regular */
@font-face {
    font-family: 'Manrope';
    src: url('/static/fonts/Manrope-Regular.ttf') format('truetype');

    font-weight: normal;
}

/* Подключение шрифта Manrope Bold */
@font-face {
    font-family: 'Manrope';
    src: url('/static/fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: bold;
}

/* Применение шрифта Manrope к всему сайту */
body {
    font-size: 24px;
    font-family: 'Manrope', sans-serif; /* Используйте 'sans-serif' как альтернативный шрифт, если Manrope недоступен */
}

.text-strike {
    text-decoration: line-through 2px red;
      text-decoration-line: line-through;
      text-decoration-style: solid;
      text-decoration-color: red;
      text-decoration-thickness: 2px;
  }

  /* Ваши стили могут выглядеть следующим образом */
.nav-container {
    display: flex; /* Используем flexbox для размещения элементов в одной строке */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    white-space: nowrap; /* Запрещаем перенос текста */
}

.nav-container a,
.nav-container span {
    margin: 0;
    padding: 5px;
    white-space: nowrap; /* Запрещаем перенос текста для внутренних элементов */
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Дополнительные стили, если необходимо */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
    }

    .navbar-toggler {
        margin-top: 10px; /* Настройте отступ сверху по вашему усмотрению */
    }
}
